.topheader {
    position: fixed;
    box-shadow: 0px 4px 5px var(--navbar-shallow-color);
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.topnav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0px auto;
}

/* logo */

.pic_logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
}

.pic_logo img {
    border-radius: 30%;
}

/* menu */

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0px 15px;
}

.menu a {
    color: var(--text-color);
    size: 18px;
    font-weight: 500;
    line-height: 50px;
    position: relative;
}

.menu a::after {
    content: " ";
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;

    opacity: 0;
    transition: opacity 0.3s;
}

.menu a.selected::after,
.menu a:hover::after {
    opacity: 1;
}

.menu a:hover{
    color: var(--primary-color);
}

.Open-Menu,
.Close-Menu {
    display: none;
}

@media (max-width: 950px) {

    /* menu */

    .menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var(--menu-celu-background-color);
        overflow-y: auto;

        opacity: 0;
        pointer-events: none;
        transition: opasity 0.3s;
    }

    .menu li {
        padding: 0px;
    }

    .menu a {
        color: var(--text-color-inverse);
        line-height: 60px;
        font-size: 25px;
    }

    .Open-Menu,
    .Close-Menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .Close-menu {
        align-self: flex-end;
        padding: 20px 15px;
    }

    .menu-opened {
        opacity: 1;
        pointer-events: all;
    }

    .Open-Menu:focus:not(:focus-visible),
    .Close-Menu:focus:not(:focus-visible){
        outline: none;
    }
}

.menu a::after {
    content: none;
}

.menu a:hover,
.menu a.selected {
    color: var(--secondary-color);
}
