@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+NKo&family=Noto+Sans:wght@700&display=swap');

.profile-info{
    margin-bottom: 25px;
}

.profile-img {
    width: 30%;
    max-width: 260px;
    padding: 7px;
    border-style: solid outset;
    border-color: orange;
    border-width: 10px;
    border-radius: 40%;
}

.profile {
    text-align: center;
}

#demo {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    color: var(--primary-color);
    font-family: 'Noto Sans', sans-serif;
}

.profile-details{
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto;
}

.profile-btn{
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
    border: none;
    font-size: 18px;
    padding: o.5em 1em;
    border-radius: 7px;
    cursor: pointer;
}

.profile-btn:hover{
    filter: drop-shadow(130%);
}

@media (min-width: 950px){
    .profile-info{
        margin-bottom: 0px;
    }
    
    .profile-img {
        width: 50%;
        max-width: 360px;
        transform: scaleX(-1);
        padding: 7px;
        border-style: solid outset;
        border-color: orange;
        border-width: 10px;
    }
    
    .profile {
        text-align: left;
        display: flex;
        justify-content: space-between;
        max-width: 980px;
        margin: 3px auto;
        align-items: center;
    }
    
    .profile-title {
        font-size: 50px;
    }
    
    .profile-details{
        font-size: 30px;
        margin: 30px 0;
    }
    
    .profile-btn{ 
        font-size: 20px;
    }
}